{%extends "uapp/home.html"%}
{%load static%}
{% block extra_css %}
<style>
	  h4{
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: black;
        padding-top: 4px;
    }
     .icon {
      font-size: 40px; 
      margin-left: 70px;
      padding-top:  40px;
    }
    .raman{
    background-color: white;
    width: 200px;
    margin-top: 40px;
    height: 40px;
}

.ramana1{
    width: 200px;
    background-color: blue;
    margin: 30px;
    height: 130px;
    display: inline-block;
}

.ramana2{
    width: 200px;
    background-color: red;
    margin: 30px;
    height: 130px;
    display: inline-block;
}


.ramana3{
    width: 200px;
    background-color: brown;
    margin: 30px;
    height: 130px;
    display: inline-block;
}
     .icon {
      font-size: 40px; 
      margin-left: 70px;
      padding-top:  40px;
    }
    .raman{
    background-color: white;
    width: 200px;
    margin-top: 40px;
    height: 40px;
}
</style>
{%endblock%}

{%block body_block%}

<div class="ramana1">
	<i class="fas fa-check-circle icon"></i>
	<div class="raman">
	<h4>Apply</h4>
</div>
</div>

<div class="ramana2">
	<i class="fas fa-info-circle icon"></i>
	<div class="raman">
	<h4>Status</h4>
</div>
</div>

<div class="ramana3">
	<i class="fas fa-hourglass-half icon"></i>
	<div class="raman">
	<h4>Pending approval</h4>
</div>
</div>
{%endblock%}