{%extends "uapp/home.html"%}
{%load static%}
{% block extra_css %}
<style>
	h4{
		font-size: 18px;
		text-align: center;
		text-decoration: none;
		color: black;
		padding-top: 4px;
	}
     .icon {
      font-size: 40px; 
      margin-left: 70px;
      padding-top:  40px;
    }
    .raman{
    background-color: white;
    width: 200px;
    margin-top: 40px;
    height: 40px;
}

.ramana1{
    width: 200px;
    background-color: blue;
    margin: 30px;
    height: 130px;
    display: inline-block;
}

.ramana2{
    width: 200px;
    background-color: red;
    margin: 30px;
    height: 130px;
    display: inline-block;
}


.ramana3{
    width: 200px;
    background-color: brown;
    margin: 30px;
    height: 130px;
    display: inline-block;
}

.ramana4{
    width: 200px;
    background-color: lightgreen;
    margin: 30px;
    height: 130px;
    display: inline-block;
}
.ramana5{
    width: 200px;
    background-color: lightgrey;
    margin: 30px;
    height: 130px;
    display: inline-block;
}
.ramana6{
    width: 200px;
    background-color: lightblue;
    margin: 30px;
    height: 130px;
    display: inline-block;
}
.ramana7{
    width: 200px;
    background-color: lightcoral;
    margin: 30px;
    height: 130px;
    display: inline-block;
}
.ramana8{
    width: 200px;
    background-color: lightsteelblue;
    margin: 30px;
    height: 130px;
    display: inline-block;
}
</style>
{%endblock%}


{%block body_block%}


<div class="ramana1">
	<i class="fas fa-edit icon"></i>
	<div class="raman">
<a href="/leavef"><h4>Apply</h4></a>
</div>
</div>

<div class="ramana2">
	<i class="fas fa-info-circle icon"></i>
	<div class="raman">
<a href="#"><h4>Status</h4></a>
</div>
</div>

<div class="ramana3">
	<i class="fas fa-cog icon"></i> 
	<div class="raman">
	<a href="#"><h4>Manage</h4></a>
</div>
</div>

<div class="ramana4">
	 <i class="fas fa-layer-group icon"></i>
	<div class="raman">
 <a href="/types"> <h4>Types</h4></a>
</div>
</div>

<div class="ramana5">
	 <i class="fas fa-clock icon"></i>
	<div class="raman">
<a href="/pendingapproval"><h4>Pending approval</h4></a>
</div>
</div>
<div class="ramana6">
	  <i class="fas fa-calendar-alt icon"></i>
	<div class="raman">
<a href="/holidays"><h4>Holidays</h4></a>
</div>
</div>

<div class="ramana7">
	<i class="fas fa-file-upload icon"></i>
	<div class="raman">
<a href="/bulkupload">	<h4>Bulk Upload</h4></a>
</div>
</div>

<div class="ramana8">
	 <i class="fas fa-calendar-plus icon"></i>
	<div class="raman">
<a href="/offinlieuallocation"><h4>Off In Lieu Allocation</h4></a>
</div>
</div>



{%endblock%}