{%extends "uapp/home.html"%}
{%load static%}


{%block body_block%}
{% block extra_css %}
<style>
      h4{
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: black;
        padding-top: 4px;
    }
     .icon {
      font-size: 40px; 
      margin-left: 70px;
      padding-top:  40px;
    }
    .raman{
    background-color: white;
    width: 200px;
    margin-top: 40px;
    height: 40px;
}

.ramana1{
    width: 200px;
    background-color: blue;
    margin: 30px;
    height: 130px;
    display: inline-block;
}

.ramana2{
    width: 200px;
    background-color: red;
    margin: 30px;
    height: 130px;
    display: inline-block;
}


.ramana3{
    width: 200px;
    background-color: brown;
    margin: 30px;
    height: 130px;
    display: inline-block;
}

.ramana4{
    width: 200px;
    background-color: lightgreen;
    margin: 30px;
    height: 130px;
    display: inline-block;
}
.ramana5{
    width: 200px;
    background-color: lightgrey;
    margin: 30px;
    height: 130px;
    display: inline-block;
}
.ramana6{
    width: 200px;
    background-color: lightblue;
    margin: 30px;
    height: 130px;
    display: inline-block;
}
.ramana7{
    width: 200px;
    background-color: lightcoral;
    margin: 30px;
    height: 130px;
    display: inline-block;
}
.ramana8{
    width: 200px;
    background-color: lightsteelblue;
    margin: 30px;
    height: 130px;
    display: inline-block;
}
.ramana9{
    width: 200px;
    background-color: lightgoldenrodyellow;
    margin: 30px;
    height: 130px;
    display: inline-block;
}
</style>
{%endblock%}

<div class="ramana1">
<i class="fas fa-cogs icon"></i>
    <div class="raman">
    <h4>Generate</h4>
</div>
</div>

<div class="ramana2">
<i class="fas fa-dollar-sign icon"></i>
    <div class="raman">
    <h4>Allowances</h4>
</div>
</div>

<div class="ramana3">
<i class="fas fa-minus-circle icon"></i>
    <div class="raman">
    <h4>Deductions</h4>
</div>
</div>

<div class="ramana4">
<i class="far fa-calendar-alt icon"></i> 
    <div class="raman">
    <h4>Recurring Templates</h4>
</div>
</div>

<div class="ramana5">
<i class="fas fa-check-circle icon"></i>
    <div class="raman">
    <h4>Approve</h4>
</div>
</div>
<div class="ramana6">
<i class="fas fa-times-circle icon"></i>
    <div class="raman">
    <h4>Rejected</h4>
</div>
</div>

<div class="ramana7">
<i class="fas fa-unlock-alt icon"></i>
    <div class="raman">
    <h4>Unlock Payroll</h4>
</div>
</div>

<div class="ramana8">
<i class="fas fa-file-upload icon"></i>
    <div class="raman">
    <h4>Loans</h4>
</div>
</div>

<div class="ramana9">
<i class="far fa-money-bill-alt icon"></i>
    <div class="raman">
    <h4>Payroll Upload</h4>
</div>
</div>

{%endblock%}