{%extends "uapp/home.html"%}
{%load static%}
{% block extra_css %}
<style>
.employees{
    width: 90%;
    background-color: whitesmoke;
    margin: 30px;
    max-height: 1000px;
}
p{
	margin-left: 20px;
	color: blue;
	font-size: 18px;
}
hr{
	margin-left: 20px;
	width: 90%;
}
.dfs1{
	width: 150px;
	height: 50px;
	background-color: blue;
	margin-left: 20px;
	display: inline-block;
	margin-top: 15px;
}
.dfs2{
	width: 150px;
	height: 50px;
	background-color: orange;
	margin-left: 20px;
	display: inline-block;
	margin-top: 15px;
}
.dfs3{
	width: 150px;
	height: 50px;
	background-color: brown;
	margin-left: 20px;
	display: inline-block;
	margin-top: 15px;
}
.dfs4{
	width: 150px;
	height: 50px;
	background-color: lightgreen;
	margin-left: 20px;
	display: inline-block;
	margin-top: 15px;
}
.dfs5{
	width: 150px;
	height: 50px;
	background-color: lightslategray;
	margin-left: 20px;
	display: inline-block;
	margin-top: 15px;
}
.dfs6{
	width: 150px;
	height: 50px;
	background-color: lightpink;
	margin-left: 20px;
	display: inline-block;
	margin-top: 15px;
}
.dfs7{
	width: 150px;
	height: 50px;
	background-color: lightsteelblue;
	margin-left: 20px;
	display: inline-block;
	margin-top: 15px;
}
h6{
	text-align: center;
	color:white;
	margin-top: 15px;
	font-size: 14px;
}
h5{
	text-align: center;
	color:white;
	margin-top: 14px;
	font-size: 14px;
}

</style>
{%endblock%}

{%block body_block%}
<div class="employees">
	<p>Pay Related Reports</p>
	<hr>
<div class="dfs1">
	<h6>Payroll Reports</h6>
</div>
<div class="dfs2">
	<h6>Payslip</h6>
</div>
<div class="dfs3">
	<h6>Bank GIRO</h6>
</div>
<div class="dfs4">
	<h6>CPF</h6>
</div>
<div class="dfs5">
	<h6>Cost Centre</h6>
</div>
<div class="dfs6">
	<h6>General Ledger</h6>
</div>
<div class="dfs7">
	<h6>Variance Report</h6>
</div>

<hr>
<div class="dfs5">
	<h6>IRAS</h6>
</div>
<div class="dfs3">
	<h6>Pay Report</h6>
</div>
<div class="dfs4">
	<h5>Employee Pay Report</h5>
</div>
<hr>
<div class="dfs1">
	<h5>Leave Report</h5>
</div>
<div class="dfs2">
	<h5>Manager Leave Report</h5>
</div>
<div class="dfs6">
	<h5>Employee Leave Report</h5>
</div>
<hr>

<div class="dfs4">
	<h6>Claim Report</h6>
</div>
<div class="dfs7">
	<h5>Manager Claim Report</h5>
</div>
<div class="dfs5">
	<h6>Claim Usage Report</h6>
</div>
<div class="dfs2">
	<h6>Custom Bank GIRO</h6>
</div>
<hr>

<div class="dfs2">
	<h6>Project Costing</h6>
</div>
<div class="dfs3">
	<h6>Lateness/Absentees</h6>
</div>
<div class="dfs4">
	<h6>Employee Timesheet</h6>
</div>
<hr>

<div class="dfs1">
	<h6>Employee Info</h6>
</div>
<div class="dfs2">
	<h6>Head Count</h6>
</div>
<div class="dfs3">
	<h6>CPF MSO</h6>
</div>
<div class="dfs4">
	<h6>OED ADT</h6>
</div>
<div class="dfs5">
	<h6>Equipment Tracking</h6>
</div>
<div class="dfs6">
	<h6>Tracking</h6>
</div>
<div class="dfs7">
	<h6>Tracking</h6>
</div>


</div>
{%endblock%}